<h2 class="headline">Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, :placeholder => 'Email Address',:autofocus => true %></div>

  <div>
  <%= f.password_field :password, :placeholder => 'Password' %></div>

  <div>
  <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %></div>

  <div><%= f.submit "Sign up", :class => "buttn" %></div>
<% end %>

<%= render "devise/shared/links" %>
