<% content_for :page_title do%>
Sign Up
<% end %>
<div class="sign-up-page-deal">
    <h4 class="bold">Limited time offer</h4>
    <p>Sign up today and get $5 in Shnack Credit</p>
  </div>


<div class="input-list center span4">

  <div class="sign-up-page-deal">
    <h4 class="bold">Limited time offer</h4>
    <p>Sign up today and get $5 in Shnack Credit</p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => '' ,:autofocus => true %>

    <%= f.label :email %>
    <%= f.email_field :email, type: 'email', :placeholder => 'you will use this to login' %>

    <%= f.label :number, 'Phone Number' %>
    <%= f.text_field :number, type: 'tel', :placeholder => 'to notify you via text when your order is ready' %>

    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>

    <h6 class="expandable plus-icon" style="margin-left:15px;margin-bottom:5px;"><i>Have a referral code?</i></h6>
    <%= f.text_field :referral_code, :as => :hidden, :input_html => { :value => session[:referral] } %>
    
    <%= f.button "Sign up", :type => "submit",:class => "darkslategray push-btn  mar-bottom" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
