<div class="input-list" style="max-width:350px;">
  <h4 class="SSS">Sign up</h4>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :name, :placeholder => 'Name' ,:autofocus => true %>
    <%= f.text_field :number, :placeholder => 'Phone Number' %>
    <%= f.email_field :email, :placeholder => 'Email Address' %>

    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>

    <%= f.submit "Sign up", :class => "push-btn darkslategray mar-bottom" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
