<%= form_for @item, url: {:controller => "menu", :action => "update_item", :item_id => @item.id}, :method => "post"  do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>

	<br />
	<%= f.label :description %>
	<%= f.text_area :description, :class => "form-control", :style => "height: 100px;" %>
	<br />

	<%= f.label :price %>
	<%= f.text_field :price, :class => "form-control" %>

	<%= f.submit %>
<% end %>
<div class="well mar-top">
<h4 class="SSS">This item has <%= @item.modifiers.count %> Modifiers</h4>

<% @item.modifiers.each do |modifier| %>
	<div class="modifier my-well-lemon">
		
		<span class="name"><%= modifier.name %></span>
		<span class="type"><%= modifier.type_string %> </span>
		<p> Size Dependent? <%= modifier.is_size_dependent? %> </p>
		<% modifier.options.each do |option| %>
			<div class="option">
				<span class="name"> <%= option.name %> </span>
				<% if modifier.is_size_dependent? %>
					<% option.size_prices.each do |size_price| %>
						<%= size_price.size.name %> <%= Order.integer_to_currency size_price.price %>
					<% end %>
				<% else %>
					<span class="price"> <%= Order.integer_to_currency option.price %> </span>
				<% end %>

			</div>
		<% end %>
				<%= link_to 'Delete This Modifier',  {:action => "delete_modifier", :controller => "menu", :mod_id => modifier.id }  %>
	</div>
<% end %>
	<%= link_to 'Add A Modifier', { :action => "new_modifier", :controller => "menu", :item_id => @item.id } %>

</div>