<% content_for :page_title do%>
  Create a modifier for <%= @item.name %>
<% end %>


<%= form_for @modifier, url: {:controller => "menu", :action => "add_modifier", :item_id => @item.id}, :method => "post"  do |f| %>
	<div class="text-center">
		<input id="modifier_type_size" name='mod_type' class="radio-mod-1" type="radio" value="0"> Size
		<input id="modifier_type_single_select" name='mod_type' class="radio-mod-1" type="radio" value="1"> Choose One Option
		<input id="modifier_type_multiple_select" name='mod_type' class="radio-mod-1" type="radio" value="1"> Choose Multiple (Checkboxes)
		<%= f.text_field :name, :placeholder => "Option Name (Don't fill if Size)", :class =>"form-control text-center"%>
		<% if @item.has_size? %>
			<%= f.check_box :is_size_dependent, :style => "float:left;" %>
			<%= f.label :is_size_dependent, :style => "float:left;" %>
		<% end %>
	<br>
	
	<% size = @item.modifiers.where(:mod_type =>0).first %>
	<% num_sizes = size.nil? ? 0 : size.options.count %>

	<div class="modifier_options input-list" data-numsizes="<%= num_sizes %>" data-currentmods="3"
		<% unless size.nil? %>
			<% size.options.each_with_index do |option, index| %>
				<%= "data-sizename#{index}=#{option.name}"%>
			<% end %>
		<% end %>
		>
		<% 3.times do |i| %>
			<%= text_field_tag "option_name_#{i}.to_sym", nil, :placeholder=>"Option #{i+1} Name" %>
			<span class="independent-price">
				<%= text_field_tag "option_price_#{i+1}".to_sym, nil, :type=>"number", :placeholder=>"Price #{i+1}" %>
			</span>
			<div class="size-dependent-prices well" style="display:none;"> 
				<% num_sizes.times do |j| %>
					<%= text_field_tag "option_price_#{i+1}_#{j+1}".to_sym, nil, :type=>"number", :placeholder=>"Price for Option #{i+1} for #{size.options[j].name}"  %>
				<% end %>
			</div>
		<% end %>

	</div>

	

	<a class="add-text-field">Add Another Option </a>

	<%= button_tag(type: 'submit', class: "push-btn darkslategray mar-top") do %>
			Create Modifier
		<% end %>

</div>



<% end %>