<h2 class="SSS pad-bot-sml">Get in contact today!</h2>

<p>Filling out this form is almost as easy as ordering from Shnack</p>

<div class="input-list">
  <%= form_tag("/shnack/contact") do %> 
  	<%= text_field_tag :cust_name, nil, :placeholder => "Name" %>
  	<%= text_field_tag :cust_email, nil, :placeholder => "Email Address" %>
    <%= text_field_tag :cust_phone, nil, :placeholder => "Phone (Optional)" %>
    <%= text_field_tag :cust_restaurant, nil, :placeholder => "Restaurant Name" %>

  	<%= submit_tag 'Send', :class=>"push-btn green"%>
  <%end%>
</div>
