<h1> Edit <%= @user.email %> </h1>

<%= form_for(@user, :url => { :action => "update" } ) do |f| %>
  <div class="field"> 
    <%= f.label :number, "Phone Number" %>
    <%= f.telephone_field :number %>

  </div> 
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>


  <div class="action_container">
    <%= f.submit "Update" %>
  </div>
<% end %>

