<table class="table">
		<thead>
			<td> Item </td>
			<td> Qty </td>
			<td> Price </td>
			<td> Total </td>
		</thead>
		<% @order_items.each do |order_item| %>
		<tr>
			<td>
				<span class="name"><%= @items[order_item.item_id].name %></span>
				<span class="description"><%= render :partial => 'shared/display_order_mods', :locals => { order_item: order_item } %></span>
			</td> 
				<td><%= order_item.quantity %> </td>

				<td> <%= Item.integer_to_currency order_item.price %></td>
				<%# update this below price to include the price of the item modifiers %>
				<td> <%= Item.integer_to_currency( order_item.price * order_item.quantity) %></td>
			</tr>
			
		<% end %>

		
		<tfoot>
			<% if @order.subtotal != @order.total %>
				<tr>
					<td>Subtotal</td>
					<td></td>
					<td></td>
					<td> <%= Order.integer_to_currency(@order.subtotal) %> </td>
				</tr>
				<% if @order.credit_was_used %>
				<tr>
					<td>Shnack Credit Used </td>
					<td></td>
					<td></td>
					<td> <%= Order.integer_to_currency(@order.credit_used) %> </td>

				<% end %>
				<tr>
					<td>Total</td>
					<td></td>
					<td></td>
					<td> <%= Order.integer_to_currency(@order.total) %> </td>
				</tr>
			<% else %>
				<% if user_signed_in? && current_user.account_credit > 0 %> 
					<tr id="shnack-credit">
						<td> Shnack Credit </td>
						<td></td>
						<td></td>
						<td> <%= current_user.account_credit < @order.total ? Order.integer_to_currency(current_user.account_credit) : Order.integer_to_currency(@order.total)  %> </td>
					</tr>
					<tr>
						<td> Total </td>
						<td></td>
						<td></td>
						<td id="order-total" data-fullprice="<%=Order.integer_to_currency @order.total %>" data-creditprice="<%= current_user.account_credit < @order.total ? Order.integer_to_currency(@order.total - current_user.account_credit) : Order.integer_to_currency(0 )  %>"> <%= current_user.account_credit < @order.total ? Order.integer_to_currency(@order.total - current_user.account_credit) : Order.integer_to_currency(0 )  %> </td>
					</tr>						
				<% else %>
					<tr>
						<td>Total</td>
						<td></td>
						<td></td>
						<td> <%= Order.integer_to_currency(@order.total) %> </td>
					</tr>
				<% end %>
			<% end %> 	
		</tfoot>
	</table>