<tbody id="<%=item.id%>_mod" class="all_the_mods" style="background-color:#EEE;">
  <tr>
    <td colspan="5" style="text-align:center;"> <em>Customize this <%= item.name.capitalize %></em> </td>
  </tr>
  <% item.modifiers.each do |mod| %>
    <tr class="item-modifier" style="border:none;outline:none;">
      <td class="modifier-name" colspan="5"> <strong> <%= mod.name.capitalize %> </strong></td>
      <% mod.options.each do |val| %>
        <tr>
          <td> <%= val.name.capitalize %> </td>
          <td>+ <%= integer_to_currency val.price %></td>

          <% if mod.mod_type == 0 %>
            <td></td>
            <td colspan="2">
              <%#= radio_button_tag("#{mod.name.downcase}", "#{val.name.downcase}") %>
              <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name='<%= "#{item.id}_#{mod.id}" %>' type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>">
            </td>
          <%end%>

          <% if mod.mod_type == 1 %>
            <td></td>
            <td colspan="2">
              <%#= radio_button_tag("#{mod.name.downcase}", "#{val.name.downcase}") %>
              <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name="<%= "#{item.id}_#{mod.id}" %>" type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>">
            </td>
          <%end%>

          <% if mod.mod_type == 2 %>
            <td></td>
            <td colspan="2">
              <%#= check_box("#{mod.name.downcase}", "#{val.name.downcase}") %>
              <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name="<%= "#{item.id}_#{mod.id}[]" %>" type="checkbox" value="<%= val.id %>" data-add-price="<%= val.price %>">
            </td>
          <%end%>



        </tr>
      <% end %>
    </tr>
  <% end %>
</tbody>