<div id="<%=item.id%>_mod" class="entire-mod-wrap">
  <h2 class="customize-this"> <%= item.name %> </h2>

  <div class="row-new">
    <% item.modifiers.each do |mod| %>
      <div class="column-mobile six individual-mod-wrap">
        <div class="mod-header"><span><%= mod.name.capitalize %></span></div>

        <% mod.options.each_with_index do |val, ind| %>
              <ol data-mod-name="<%= val.name %>" data-category="<%= mod.name %>" class="single-option-wrap">
                <li> <%= val.name.capitalize %> </li>
                <li>+ <%= Order.integer_to_currency val.price %> </li>

                <% if mod.mod_type == 0 %>
                  <li>
                    <% unless ind == 0 %>
                      <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name='<%= "#{item.id}_#{mod.id}" %>' class="<%="#{item.id}_modifier"%> modifier radio-mod-1" type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>">
                    <% else %>
                      <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name='<%= "#{item.id}_#{mod.id}" %>' class="<%="#{item.id}_modifier"%> modifier radio-mod-1" type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>" checked>
                    <% end %>
                  </li>
                <% end %>

                <% if mod.mod_type == 1 %>
                  <li>
                    <% unless ind == 0 %>
                    <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name="<%= "#{item.id}_#{mod.id}" %>" class="<%="#{item.id}_modifier"%> modifier radio-mod-1" type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>">
                    <% else %>
                    <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name="<%= "#{item.id}_#{mod.id}" %>" class="<%="#{item.id}_modifier"%> modifier radio-mod-1" type="radio" value="<%= val.id %>" data-add-price="<%= val.price %>" checked>
                    <% end %>
                  </li>
                <%end%>

                <% if mod.mod_type == 2 %>
                  <li>
                    <%#= check_box("#{mod.name.downcase}", "#{val.name.downcase}") %>
                    <input id="<%= mod.name.downcase %>_<%= val.name.downcase %>" name="<%= "#{item.id}_#{mod.id}" %>" class="<%="#{item.id}_modifier"%> modifier" type="checkbox" value="<%= val.id %>" data-add-price="<%= val.price %>">
                  </li>
                <%end%>

              </ol>

        <% end %>
      </div> <!-- END INDIVIDUAL-MOD -->
    <% end %>
  </div>
</div>

