

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <%= f.hidden_field :user_id, :value => user_signed_in? ? current_user.id : 0 %>
  <%= @owner.instance_of?(Restaurant) ?  f.hidden_field(:restaurant_id, :value => @owner.id) : f.hidden_field(:vendor_id, :value => @owner.id) %>
  <%= f.hidden_field :subtotal, :value => "0" %>
  <div class ="panel panel-default">

    <% if @menu.categories.count > 1 %>

      <% @menu.categories.each do |category| %>
        <div class="panel-heading"><h2 class="panel-title"><%= category.name %></h2></div>
        <div class="order-items" style="display:none;">
          <table cellspacing="10" class="table">

          <% category.items.each do |item| %>
            <tbody class="menu_item" data-id= "<%= item.id %>" style="border:none;outline:none;">
              <tr>
                <td><%= item.name %></td>
                <td id="<%=item.id%>_price" data-price="<%=item.price%>"><%= Item.integer_to_currency item.price %></td>
                <% if(item.sold_out) %>
                  <td colspan="3">Item Sold Out</td>
                <% else %> 
                                  <td> <span class="glyphicon glyphicon-minus minus"></span> </td>

                  <td id="<%=item.id%>_num" class="num"> 0 </td>
                                    <td> <span class="glyphicon glyphicon-plus plus"></span> </td>

                  <td class="item_id hidden"> <%= item.id %> </td>
                  <%= f.hidden_field "item[#{item.id}]", :value => 0, :class => "item_#{item.id}" %>
             
                  <% if item.has_description? %>
                    </tr>
                    <tr>
                      <td colspan="5" class="item-description"> <%= item.description %> </td>
                  <% end %>
                  <% if item.has_mod?; @item = item %>
                    <%= render :partial => 'display_mods', :locals => { item: @item } %>
                  <% end %>
                <% end %>
              </tr>


            </tbody>
          <%end%>
        </table>
      </div>
    <% end %>
    <% else %>
     <div class="order-items">
          <table cellspacing="10" class="table">

          <% @menu.items.each do |item| %>
            <tbody class="menu_item" data-id= "<%= item.id %>" style="border:none;outline:none;">
              <tr>
                <td><%= item.name %></td>
                <td id="<%=item.id%>_price" data-price="<%=item.price%>"><%= Item.integer_to_currency item.price %></td>
                <% if(item.sold_out) %>
                  <td colspan="3">Item Sold Out</td>
                <% else %> 
                                  <td> <span class="glyphicon glyphicon-minus minus"></span> </td>

                  <td id="<%=item.id%>_num" class="num"> 0 </td>
                                    <td> <span class="glyphicon glyphicon-plus plus"></span> </td>

                  <td class="item_id hidden"> <%= item.id %> </td>
                  <%= f.hidden_field "item[#{item.id}]", :value => 0, :class => "item_#{item.id}" %>
             
                  <% if item.has_description? %>
                    </tr>
                    <tr>
                      <td colspan="5" class="item-description"> <%= item.description %> </td>
                  <% end %>
                  <% if item.has_mod?; @item = item %>
                    <%= render :partial => 'display_mods', :locals => { item: @item } %>
                  <% end %>
                <% end %>
              </tr>


            </tbody>
          <%end%>
        </table>
      </div>
    <% end %>


    <table class="table subtotal">
      <tr>
        <td>Subtotal: </td>
        <td></td>
        <td class="subtotal text-center" data-total="000" colspan="3"> $0.00</td>
      </tr>
      <% if @owner.shnack_fee != 0 %>
      <tr>
        <td> Shnack Fee: </td>
        <td></td>
        <td class="fee text-center" data-price="<%= @owner.shnack_fee %>" colspan="3"> <%= @order.integer_to_currency(@owner.shnack_fee) %></td>
      </tr>
      <% end %>
      <tr>
        <td> Total </td>
        <td></td>
        <td class="total text-center" data-total="000" colspan="3"> $0.00 </td>
      </tr>
    </table>
  </div>


  <div class="actions">
  <% if @owner.is_open? %>
    <%= button_tag(type: 'submit', id:"order-submit", class: "btn btn-primary btn-danger") do %>
      <i class="glyphicon glyphicon-cutlery icon-white"></i> Place Order
    <% end %>
  <% else %> 
    <%= button_tag(type: 'submit', id:"order-submit",  class: "btn btn-primary btn-danger", :disabled => true) do %>
      <i class="glyphicon glyphicon-cutlery icon-white"></i> Place Order
    <% end %>
  </div>
  <% end %>
<% end %>


