<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="the-menu">
    <%= f.hidden_field :user_id, :value => user_signed_in? ? current_user.id : 0 %>
    <%= @owner.instance_of?(Restaurant) ?  f.hidden_field(:restaurant_id, :value => @owner.id) : f.hidden_field(:vendor_id, :value => @owner.id) %>
    <%= f.hidden_field :subtotal, :value => "0" %>

    <% if @menu.categories.count > 1 %>

      <% @menu.categories.each do |category| %>
        <h3 class="SSS my-panel-heading expandable"><%= category.name %></h3>

        <div class="all-items-wrap">
          <% category.items.each do |item| %>
            <div data-id="<%= item.id %>" class="single-item-wrap">
              <div class="row-new">
                <div class="column five"> <%= item.name %> </div>
                <div id="<%=item.id%>_price" data-price="<%=item.price%>" class="column three"> <%= Item.integer_to_currency item.price %> </div>

                <% if(item.sold_out) %>
                  <div class="column four">Item Sold Out</td>

                <% else %> 
                  <div class="column one text-center"> <span class="fa fa-minus minus"></span> </div>
                  <div id="<%=item.id%>_num" class="column two num text-center"> 0 </div>
                  <div class="column one text-center"> <span class="fa fa-plus plus"></span> </div>
                        

                  <div class="item_id hidden"> <%= item.id %> </div>      
                  <%= f.hidden_field "item[#{item.id}]", :value => 0, :class => "item_#{item.id}" %>
                <% end %>
              </div>


              <% if item.has_description? %>
                <div class="twelve item-description"> <%= item.description %> </div>
              <% end %>
                              

              <% if item.has_mod?; @item = item %>
                <%= render :partial => 'display_mods', :locals => { item: @item } %>
              <% end %>

            </div>

          <% end %>
        </div> <!-- ENDS ALL ITEMS WRAP -->
      </div>
    <% end %>
    <% else %>
      <div class="all-items-wrap">
        <% category.items.each do |item| %>
          <div data-id="<%= item.id %>" class="single-item-wrap">
            <div class="row-new">
              <div class="column five"> <%= item.name %> </div>
              <div id="<%=item.id%>_price" data-price="<%=item.price%>" class="column three"> <%= Item.integer_to_currency item.price %> </div>

              <% if(item.sold_out) %>
                <div class="column four">Item Sold Out</td>

              <% else %> 
                <div class="column one text-center"> <span class="fa fa-minus minus"></span> </div>
                <div id="<%=item.id%>_num" class="column two num text-center"> 0 </div>
                <div class="column one text-center"> <span class="fa fa-plus plus"></span> </div>
                        

                <div class="item_id hidden"> <%= item.id %> </div>      
                <%= f.hidden_field "item[#{item.id}]", :value => 0, :class => "item_#{item.id}" %>
              <% end %>
            </div>


            <% if item.has_description? %>
              <div class="twelve item-description"> <%= item.description %> </div>
            <% end %>
                              

            <% if item.has_mod?; @item = item %>
              <%= render :partial => 'display_mods', :locals => { item: @item } %>
            <% end %>

          </div>

        <% end %>
      </div> <!-- ENDS ALL ITEMS WRAP -->
    <% end %>

  </div> <!-- ENDS THE-MENU -->


  <div class="my-well-mid primary-app-content">
    <div class="row-new">
      <div class="money-wrap column-mobile six">
        <ol>
          <li>Items in Cart:</li>
          <li data-quantity="000" class="cart_quantity"> 0 </li>
        </ol>

        <ol>
          <li>Subtotal:</li>
          <li data-total="000" class="subtotal"> $0.00 </li>
        </ol>

        <% if @owner.shnack_fee != 0 %>
          <ol>
            <li>Shnack Fee:</li>
            <li data-price="<%= @owner.shnack_fee %>" class="fee"> <%= @order.integer_to_currency(@owner.shnack_fee) %></li>
          </ol>
        <% end %>

        <ol>
          <li>Total:</li>
          <li data-total="000" class="total"> $0.00 </li>
        </ol>

      </div> <!-- ENDS MONEY-WRAP -->



      <div class="actions column-mobile six">
        <% if @owner.is_open? %>
          <%= button_tag(type: 'submit', id:"order-submit", class: "push-btn darkslategray") do %>
            <i class="fa fa-cutlery pad-right-sml"></i> Next
          <% end %>
        <% else %> 
          <%= button_tag(type: 'submit', id:"order-submit",  class: "push-btn", :disabled => true) do %>
            <i class="fa fa-frown-o pad-right-sml"></i> Currently Closed
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="current-order-error" style="display:none;">Come on! You have to order something!</div>

  </div>

<% end %>

