<h3 class="headline"> <%= @owner.name %> <br/></h3>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <%= f.hidden_field :user_id, :value => user_signed_in? ? current_user.id : 0 %>
  <%= @owner.instance_of?(Restaurant) ?  f.hidden_field(:restaurant_id, :value => @owner.id) : f.hidden_field(:vendor_id, :value => @owner.id) %>
  <%= f.hidden_field :subtotal, :value => "0" %>
  <div class ="panel panel-default">

    <% @menu.categories.each do |category| %>
      <div class="panel-heading"><h3 class="panel-title"><%= category.name %></h3></div>
      <table cellspacing="10" class="table">
  
 
      <% category.items.each do |item| %>
        <tr class="menu_item" data-id="<%=item.id%>">
          <td><%= item.name %></td>
          <td id="<%=item.id%>_price" data-price="<%=item.price%>"><%= number_to_currency item.price %></td>
          <td> 
          <span class="glyphicon glyphicon-plus plus"></span>
          </td>
          <td id="<%=item.id%>_num" class="num"> 0 </td>
          <td> <span class="glyphicon glyphicon-minus minus"></span> </td>
          <td class="item_id hidden"><%= item.id %></td>

          <%= f.hidden_field "item[#{item.id}]", :value => 0, :class => "item_#{item.id}" %>
        </tr>
      <% end %>
      </table>
    <% end %>

    <table class="table">
      <tr>
        <td>Subtotal: </td>
        <td></td>
        <td class="total text-center" data-total="000" colspan="3"> $0.00</td>
    </table>
  </div>


  <div class="actions">
    <%= @owner.is_open? ? f.submit(:class => "button") : f.submit(:disabled => true)%>
  </div>
<% end %>
