<p id="notice"><%= notice %></p>
<h4 class="text-center"> # <%= @order.id %> </h4>

	<table class="table">
		<thead>
			<td> Item </td>
			<td> Qty </td>
			<td> Price </td>
			<td> Total </td>
		</thead>
		<% @order_details.each_pair do |id, qty| %>
		<tr>

			<td><%= @items[id].name %></td> 
			<td><%= qty %> </td>
			<td> <%= number_to_currency @items[id].price %></td>
			<td> <%= number_to_currency(@items[id].price * qty) %></td>
		</tr>
		<% end %>

	</table>


Your Order is currently <%= @order.current_order_state.state_text %>
