<h2>Vendors for <%= @stadium.name %></h2>
<table>
	<% @vendors.each do |vendor| %>
		<tr> 
			<td><%= vendor.name %></td>
			<td>
				<%= link_to "Show", [@stadium, vendor] %> | 
				<%= link_to "Edit", [:edit, @stadium, vendor] %> |
				<%= link_to "Destroy", [@stadium, vendor], :method => :delete %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to "Add a Vendor", new_stadium_vendor_path(@stadium) %>
