<h2 class="headline"> <%= @vendor.name %> </h2>
<h3> <%= @stadium.name %> </h3>

	<div class ="panel panel-default">
		<% @vendor.menu.categories.each do |category| %>
			<div class="panel-heading"><h3 class="panel-title"><%= category.name %></h3></div>
			<table class="table">
			<% category.items.each do |item| %>
				<tr>
					<td colspan="2"><%= item.name %></td>
					<td class="text-right"><%= number_to_currency item.price %></td>
				</tr>
			<% end %>
			</table>
		<% end %>
	</div>

	<table class="table">
		<%= form_for @vendor.menu.categories.new, :url => url_for(:controller => "vendors", :action => 'add_category') do  |f| %>
			<%= f.hidden_field :vendor_id, :value => @vendor.id %>
			<tr>
				<td><%= f.label :name %></td>
				<td><%= f.text_field :name %></td>
			</tr>
			<tr colspan="2"> <td> <%= f.submit %></td> </tr>
		<% end %>
	</table>
	
	<table class="table">
		<%= form_for @vendor.menu.items.new, :url => url_for(:controller => "vendors", :action => 'add_item') do  |f| %>
			<%= f.hidden_field :vendor_id, :value => @vendor.id %>
			<tr>
				<td colspan="2"><%= collection_select(:item, :category_id, @vendor.menu.categories, :id, :name, {}, {:class=>"form-control"}) %> </td>
			</tr>

			<tr>
				<td><%= f.label :name %></td>
				<td><%= f.text_field :name %></td>
			</tr>

			<tr>
				<td> <%= f.label :price %></td>
				<td> <%= f.text_field :price %></td>
			</tr>
			<tr colspan="2"> <td> <%= f.submit %></td> </tr>
		<% end %>
	</table>


	<li class="list-group-item">
		Registration Code: <%= @vendor.registration_code %> <%= link_to "Generate new code", new_registration_code_stadium_vendor_path(@stadium, @vendor) %>
	</li>
