<h2 class="headline">Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :autofocus => true, placeholder: 'Email Address', class: "sign_in" %></div>

  <div>
  <%= f.password_field :password, placeholder: 'Password', class: "sign_in" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me  %> <label></label><%= f.label :remember_me, :style => "margin-left: 5px;" %></div>
  <% end -%>
  <br/> <br/>
  <div><%= f.submit "Sign in", :class => 'push-btn darkslategray mar-bottom'%></div>
<% end %>

<%= render "devise/shared/links" %>
