<div class="wrapper pad-y-lrg" id="size_mod_table">
  <label>All size options</label>
  <span>The first size should not cost any extra, it is the base</span>
  <div class="row-new">
    <%= text_field_tag :size_name_1, nil, :placeholder=>"Size 1 Name", class: 'coulmn six' %>
    <%= text_field_tag :size_price_1, nil, :type=>"number", :placeholder=>"Price 1", class: 'coulmn six' %>
  </div>
  <div class="row-new">
    <%= text_field_tag :size_name_2, nil, :placeholder=>"Size 2 Name" %>
    <%= text_field_tag :size_price_2, nil, :type=>"number", :placeholder=>"Price 2", class: 'coulmn six' %>
  </div>
  <div class="row-new">
    <%= text_field_tag :size_name_3, nil, :placeholder=>"Size 3 Name" %>
    <%= text_field_tag :size_price_3, nil, :type=>"number", :placeholder=>"Price 3", class: 'coulmn six' %>
  </div>
</div>
