<%= render 'top_nav' %>

<h3> Analytics </h3>

<%#=COMPLETELY STUBBED OUT DATA FOR NOW....LOGIC TO FIX THIS IN CONTROLLER, JUST COULDN'T GET IT TO LOOK NICE%>

<h3 class="expandable">Average Order Size</h3>
<p align="center"><b><%= @avg_total %></b></p>


<h3 class="expandable">Average Order Time (Minutes)</h3>
<p align="center"><b><%= @avg_time %></b></p>

<h3 class="expandable">Top 5 Items Ordered</h3>
<div> <%= pie_chart(@order_hash) %> </div>

<div class="panel panel-primary">
<h3 class="panel-heading">Daily Orders</h3>
	<%= line_chart(@daily_orders) %>
</div>


<div class="panel panel-primary">
<h3 class="panel-heading">New Customers Aquired</h3>
	<%= line_chart(@user_count)%>
</div>
