<%= render 'top_nav' %>


<!-- <a href="#add_item" class="basic_btn darkseagreen mar-bottom">Add a new Item</a>
 -->

<div class="my-well-black mar-bottom-lrg">
  <h2 class="mar-bottom">Add A New Item</h2>
  <%= form_for @restaurant.menu.items.new, :url => url_for(:controller => "menu", :action => 'add_item') do  |f| %>
    <%= f.hidden_field :menu_id, :value => @restaurant.menu.id %>
    <div class="row-new">
      <label>This item will be a:</label>
      <%= collection_select(:item, :category_id, @restaurant.menu.categories, :id, :name, {}, class: "column twelve" ) %>
    </div>
    <div class="row-new">
      <%= f.label :name %>
      <div class="column twelve"><%= f.text_field :name %></div>
    </div>
    <div class="row-new">
      <%= f.label :price %>
      <i>Enter this as a whole number, meaning 395 = $3<span style="font-size:28px;">.</span>95</i>
      <div class="column twelve"><%= f.text_field :price %></div>
    </div>

    <%= f.label :modifiers %>
    <button type="button" id="size_mod_btn" data-mod-type="size" class="push-btn lightgreen">Add a size option to item</button>
      <%= render 'new_item_size' %>

    <button type="button" id="single_select_mod_btn" data-mod-type="single" class="push-btn lightgreen">Add a single select option to item</button>
      <%= render 'new_item_single_select' %>

    <button type="button" id="multiple_select_mod_btn" data-mod-type="multiple" class="push-btn lightgreen">Add a multi select option to item</button>
      <%= render 'new_item_multiple_select' %>

    <button type="button" id="mod_btn" data-mod-type="custom" disabled="disabled" class="push-btn lightgreen">Add a custom option to item</button>
      

    <%= f.submit 'Ceate new item', :class=>"push-btn darkgreen twelve mar-y-lrg" %>

  <% end %>
</div>



<!-- <a href="#add_category" class="basic_btn darkseagreen mar-bottom">Add a new Category</a>
 -->
 <div class="my-well-black">
  <h2 class="mar-bottom">Add A New Category</h2>
  <%= form_for @restaurant.menu.categories.new, :url => url_for(:controller => "menu", :action => 'add_category') do  |f| %>
    <%= f.hidden_field :menu_id, :value => @restaurant.menu.id %>
      <%= f.label :name %>
      <div class="row-new">
        <div class="column eight"><%= f.text_field :name, placeholder: 'subs, lattes, goodies' %></div>
        <div class="column three offset-by-one"><%= f.submit %></div>
      </div>
  <% end %>
</div>
<br />


<h2>My Current Menu</h2>
<div class ="panel panel-default">
  <% @restaurant.menu.categories.each do |category| %>
  <div class="panel-heading"><h1 class="panel-title"><%= category.name %></h1></div>
  <table class="table">
    <% category.items.each do |item| %>
      <tbody>
        <tr class="item-name">
          <td ><%= link_to item.name, {:action => "edit_item", :controller => "menu", :item_id => item.id} %></td>
          <td class="text-right"><%= Item.integer_to_currency item.price %></td>
          <td class="text-right" style="width:5%"><%= link_to content_tag(:span, nil, :class=> "glyphicon glyphicon-minus"), { :controller => 'menu', :action => 'delete_item', :item_id => item.id } %></td>
        </tr>
        <% if item.has_description? %>
          <tr>
            <td colspan="3" class="item-description"><%= item.description %></td>
          </tr>
        <% end %>
      </tbody>

      <% if item.modifiers.size > 0 %>
        <tbody style="background-color:#F9F9F9;">
          <% item.modifiers.each do |mod| %>
            <%  unless mod.name.empty? %>
              <tr class="item-modifier">
                <td class="modifier-name" colspan="3">
                  <em> <%= mod.name.capitalize %> </em>
                </td>
                  
                  <% mod.options.each do |val| %>
                    <%  unless val.name.empty? %>
                      <tr>
                        <td colspan="2"> <%= val.name.capitalize %> </td>
                        <td><%= Order.integer_to_currency val.price %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <% end %>
</div>

<hr class="pad-y-xlrg">
