<%= render 'top_nav' %>

<h2>My Restaurant</h2>
<div class="row-new well">
	<h4 class="pad-bot">Current Revenue Status</h4>
	<div class="column-mobile six clear-fix">
		<strong> Amount Available: </strong> <%= Order.integer_to_currency @amount %>
		<br />
	</div>



<% if current_user.is_super? %>
	<section class="wrapper pad-y-xlrg">
		<h4>Managers</h4>

		<% @restaurant.roles.each do |role| %>
			<div> <%= role.user.email %> </div>
		<% end %>

		<%= form_tag add_manager_restaurant_path(@restaurant)  do %>
			<label>Add Manager By Email</label>
			<ol>
				<%= text_field_tag :email, nil, class: '' %>
				<%= submit_tag 'Send Invite', :class => "green" %>
			</ol>
		<% end %>
	</section>
<% end %>


<section class="my-well-lemon">
	<h4>Registration Code:</h4>
	<%= @restaurant.registration_code %> <%= link_to "Generate new code", new_registration_code_restaurant_path(@restaurant) %>
	<br /><br />
	<h4>Add Tax? <span class="tax">- <%= @restaurant.add_tax %></span></h4>
	<h4>Tax: <span class="tax"><%= @restaurant.tax %></span></h4>
	<br />

	<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant), class: "action-btn" %>
	<%= link_to "Delete Restaurant", restaurant_path(@restaurant), :method => :delete, class: "action-btn red right" %>
</section>
