
<h2 class="headline"> <%= @restaurant.name %> </h2>

	<div class="well">
		<div>
			<strong> Amount Available: </strong> <%= Order.integer_to_currency @amount %><br />
			<% if @amount == 0 %>
				<%= button_to "Withdraw", '/#', { :class => "btn btn-success disabled"} %>
			<% else %>
				<%= button_to "Withdraw", withdraw_funds_restaurant_path(@restaurant), { :class => "btn btn-success", :method => 'post' } %>
			<% end %>
			<div style="padding-top:10px;">
			<%= button_to "Recent Orders", recent_orders_restaurant_path(@restaurant), {:method => 'get', :class => "btn btn-info" } %> </div>
		</div>



		<div style="padding-top:10px; padding-bottom:30px;">

			<% if @account.nil? %>
				<%= button_to "Add Bank Account", bank_account_restaurant_path(@restaurant), { :class => "btn btn-primary", :method => 'get' } %>
			<% else %>
				<strong>Bank Account:</strong>  <%= @account.bank_name %> <%= @account.last4 %>	
				<%= button_to "Change Bank Account", bank_account_restaurant_path(@restaurant), { :class => "btn btn-primary", :method => 'get' } %>
			<% end %>
		</div>

		<div style="padding-top:10px; padding-bottom:30px;">
			<strong> Status of Your Last Transfer: </strong> 
				<% if @transfer.nil? %> None
				<% else %><strong> <%= @transfer.status %> </strong>
				<% end %>


		</div>
	</div>


<div class ="panel panel-default">
	<% @restaurant.menu.categories.each do |category| %>
	<div class="panel-heading top-heading"><h3 class="panel-title"><%= category.name %></h3></div>
	<table class="table">
		<% category.items.each do |item| %>
			<tbody>
				<tr class="item-name">
					<td ><%= link_to item.name, {:action => "edit_item", :controller => "menu", :item_id => item.id} %></td>
					<td class="text-right"><%= Item.integer_to_currency item.price %></td>
					<td class="text-right" style="width:5%"><%= link_to content_tag(:span, nil, :class=> "glyphicon glyphicon-minus"), { :controller => 'menu', :action => 'delete_item', :item_id => item.id } %></td>
				</tr>
				<% if item.has_description? %>
					<tr>
						<td colspan="3" class="item-description"><%= item.description %></td>
					</tr>
				<% end %>
			</tbody>

			<% if item.modifiers.size > 0 %>
				<tbody style="background-color:#F9F9F9;">
					<% item.modifiers.each do |mod| %>
						<%  unless mod.name.empty? %>
							<tr class="item-modifier">
								<td class="modifier-name" colspan="3">
									<em> <%= mod.name.capitalize %> </em>
								</td>
									
									<% mod.options.each do |val| %>
										<%  unless val.name.empty? %>
											<tr>
												<td colspan="2"> <%= val.name.capitalize %> </td>
												<td><%= Order.integer_to_currency val.price %></td>
											</tr>
										<% end %>
									<% end %>
								</tr>
							<% end %>
					<% end %>
				</tbody>
			<% end %>
		<% end %>
	</table>
	<% end %>
</div>


<h2>Add A New Category</h2>
<table class="table">
	<%= form_for @restaurant.menu.categories.new, :url => url_for(:controller => "menu", :action => 'add_category') do  |f| %>
	<%= f.hidden_field :menu_id, :value => @restaurant.menu.id %>
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr colspan="2"> <td> <%= f.submit %></td> </tr>
	<% end %>
</table>

<h2>Add A New Item</h2>
<table class="table">
	<%= form_for @restaurant.menu.items.new, :url => url_for(:controller => "menu", :action => 'add_item') do  |f| %>
	<%= f.hidden_field :menu_id, :value => @restaurant.menu.id %>
	<tr>
		<td colspan="2"><%= collection_select(:item, :category_id, @restaurant.menu.categories, :id, :name, {}, {:class=>"form-control"}) %> </td>
	</tr>
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name, :class=>"form-control" %></td>
	</tr>

	<tr>
		<td> <%= f.label :price %></td>
		<td> <%= f.text_field :price , :class=>"form-control"%></td>
	</tr>



	<tr>
		<td> <%= f.label :modifiers %></td>
		<td>
			<button type="button" id="size_mod_btn" data-mod-type="size">Add a size option to item</button>
			<%= render 'new_item_size' %>

			<button type="button" id="single_select_mod_btn" data-mod-type="single">Add a single select option to item</button>
			<%= render 'new_item_single_select' %>

			<button type="button" id="multiple_select_mod_btn" data-mod-type="multiple">Add a multi select option to item</button>
			<%= render 'new_item_multiple_select' %>

			<button type="button" id="mod_btn" data-mod-type="custom" disabled="disabled">Add a custom option to item</button>

			</td>
		</tr>
		<tr colspan="3"> <td> <%= f.submit 'Ceate new item', :class=>"green" %></td> </tr>
		<% end %>
	</table>

	<% if current_user.is_super? %>
		<table class="table">
			
			<tr> <th colspan="2"> Managers </th> </tr>
			<% @restaurant.roles.each do |role| %>
				<tr> <td> <%= role.user.email %> </td></tr>
			<% end %>

			
			<%= form_tag add_manager_restaurant_path(@restaurant)  do %>
			<tr>
				<td> Add Manager By Email </td>
				<td> <%= text_field_tag :email %> </td>
			</tr>
			<tr>
				<td colspan="2"> 
					<%= submit_tag %>
				</td>
			</tr>

			<% end %>
					

		</table>
	<% end %>

	<ul class="list-group">
		<li class="list-group-item">
			Registration Code: <%= @restaurant.registration_code %> <%= link_to "Generate new code", new_registration_code_restaurant_path(@restaurant) %>
		</li>
		<li class="list-group-item">
			Add Tax? - <%= @restaurant.add_tax %>
		</li>

		<li class="list-group-item">
			Tax: <%= @restaurant.tax %>
		</li>
		<li class="list-group-item">
			<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
		</li>
		<li class="list-group-item">
			<%= link_to "Delete Restaurant", restaurant_path(@restaurant), :method => :delete %>
		</li>

	</ul> 
