<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'logo.ico' %>
  <title>Shnack</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


    <script> 
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52696113-1', 'auto');
    ga('require', 'displayfeatures');

    ga('send', 'pageview');
  </script>

</head>  

  <body>

    <section class="wrapper-white pad-y-xlrg">
      <div class="my-container">
        <h1 class="SSS text-red mar-bottom-lrg" style="font-size:64px;">Shnack <small>is the solution</small></h1>

        <div class="row-new">

          <div class="column-mobile six pad center">
            <h3 class="new text-center text-brown">For Restuarants</h3>
            <p>Nearly 10-15% of potential customers at any given event will pass on getting food if it means waiting in line or missing the action.  With Shnack you can give your customers the best possible experience and increase your concessions revenue.  Using our streamlined integration process, you can be set up in a matter of minutes and begin using Shnack to capture brand new customers and increase your concession sales.</p>
            <p>Our iPad application helps staff keep track of orders and the rate at which those orders can be prepared and marked ready for pick up. Instead of guessing what the next twenty orders will be, see them live in real time allowing your to maximize your kitchen's productivity.</p>
          </div>
          <div class="column-mobile six pad center">
            <h3 class="new text-center text-brown">For Customers</h3>
            <p>Tired of waiting in line?  Shnack eliminates the time you spend standing in line by providing a quick and elegant way to purchase food from your home or seat. Quickly order food from your phone, continue your activity, and you will be notified when your food is ready to be picked up. Payment is taken care in app allowing you to go straight to the pickup location.</p>
            <p>By eliminating the need to wait in line, you can spend time what you want to be doing. Providing an simple service aimed to provide a superior experience to customers.</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="wrapper-khaki pad-y-lrg">
        <div class="my-container-threefour contact-us">
          <%= render 'contact_us_mailer/contact_us_mailer' %>
        </div>
    </footer>

   
    <footer class="fb">
      <a href='/' class="place-order">Place an order | Return to home</a>
      <p>Follow us on Facebook.</p>
      <p>You might see us at a game.</p>
      </br>
      <div class="fb-like" data-href="https://www.facebook.com/shnackapp" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </footer>

    
  </body>
</html>
