<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'logo.ico' %>
  <title>Shnack</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


    <script> 
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52696113-1', 'auto');
    ga('require', 'displayfeatures');

    ga('send', 'pageview');
  </script>

</head>  

  <body>

    <div class="wrapper-black">
      <section class="my-container prime-info">
        <h1 id="info-tagline">Never miss a moment, never miss a meal</h1>
        <nav>
          <a id="about-links1" onClick="forFans()">For Fans</a>
          <a id="about-links2" onClick="forVendors()">For Vendors</a>
          <a id="about-links3" onClick="contactUs()">Contact Us</a>
        </nav>

        <div class="row-new">
          <div class="column eight prime-text">
            <p id="info-text">Shnack is a mobile application designed for concessions at large and small scale events, that lets customers order and pay for a vendor's food via their phone. Shnack eliminates the time customers are spending standing in lines by providing a quick and elegant way to purchase food from your seat. Customers will order food from their phone and will be notified when their food is ready to be picked up. By eliminating the need to wait in line, we can increase customer satisfaction, increase vendor revenue, and ultimately help provide a superior experience to customers.</p>

            <div id="contact-us" class="row-new">
              <%= render 'contact_us_mailer/contact_us_mailer' %>
            </div>

          </div>

          <%= image_tag "phone_welcome.png", :class => "phone" %>
          

        </div>


      </section>
    </div>




    <footer class="fb">
      <a href='/' class="place-order">Place an order | Return to home</a>
      <p>Follow us on Facebook.</p>
      <p>You might see us at a game.</p>
      </br>
      <div class="fb-like" data-href="https://www.facebook.com/shnackapp" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </footer>
  </body>
</html>
