

<h4> ApiKeys</h4>

<div class="well">
	<%= link_to "Create Key", { :action => "create_api_key" } %> <br />

	<table class="table">
		<% @apikeys.each do |key| %> 
			<tr>
				<td> <%= key.access_token %> </td>
				<td> <%= link_to "Delete Key", { :action => "delete_api_key", :id => key.id } %> </td>
			</tr>
		<% end %>
	</table>
</div>

<p>

<h4> Devices </h4>

<div class="well">
	<table class="table">
		<% @devices.each do |device| %>
			<tr>
				<td> <%= device.token %> </td>
				<td> <%= device.owner.name unless device.owner.nil? %></td>
				<td> <%= link_to "Delete Device", { :action => "delete_device", :id => device.id } %> </td>
			</tr>
		<% end %>
	</table>
</div>

<h4> Basic Statistics </h4>

<div class="well">

	<table class=" table order-stats">
		<tr>
			<td>Number of Orders Placed Through Shnack:</td>
		 	<td><%= @orders.count %></td>
		</tr>
		<tr>
			<td>Number of Orders that use credit:</td>
			<td> <%= @orders_credit.count %></td>
		</tr>
	</table>

	<table class=" table user-stats">
		<tr>
			<td> Number of Users Registered:</td> 
			<td><%= @users.count %> </td>
		</tr>
		<tr>
			<td>Percentage of Users who have placed at least one order </td> 
			<td><%= @percent_ordered %>% </td>
		</tr>
		<tr>
			<td>Percentage of Users who have placed multiple orders</td> 
			<td><%= @percent_repeat %>% </td>
		</tr>
		<tr>
			<td>Conversion Rate:</td>
			<td><%= @user_sign_up_rate.round(2) %>%</td>
		</tr> 
	</table>
	<table class ="table money-stats">
		<tr>
			<td> Total amount of money processed </td>
			<td> <%= Order.integer_to_currency @total %> </td>
		</tr>
		<tr>
			<td>Shnack's Total Revenue</td>
			<td>  <%= Order.integer_to_currency @shnack_total %>  </td>
		</tr>
		<tr>
			<td> Amount Spent In Credit </td>
			<td> <%= Order.integer_to_currency @amount_spent_in_credit %> </td>
		</tr>
	</table>
</div>
