

<%= form_tag order_charges_path(@order), :id => "charges-form" do %>
	<%= render 'shared/order_details' %>

  <% if user_signed_in? && !current_user.number.nil? %>
    <%= text_field(:user, :name, :class=> "form-control", :id => "order-name", :value => current_user.name ) %>
    <%= telephone_field(:user, :phone, :class=>"form-control", :id => "order-phone-number", :value => current_user.number) %>

    <div> Email: <%= current_user.email %> <br /> </div>
  <% else %>
    <%= text_field(:user, :name, :class=> "form-control", :id => "order-name", :placeholder => "Name" ) %>
  	<%= telephone_field(:user, :phone, :class => "form-control",:id => "order-phone-number", :placeholder => "Phone #") %>
    <%= text_field(:user, :email, :class =>"form-control", :id=> "order-email", :placeholder => "E-mail Address") %>
  <% end %>
	<br />
  <% end %>
 
  <% if @owner.cash_only %>
      <div class="text-center" style="width:100%">

        <%= button_tag(type: 'submit', id: "confirm-button", class: "btn btn-danger") do %>
          <i class="glyphicon glyphicon-cutlery icon-white"></i> Confirm Order
        <% end %> <br />
      </div>

  <% else %>
    <% if user_signed_in? && current_user.has_cards? %>
      <div class="select-card-form">
        <% current_user.cards.each_with_index do |card, index| %>
        <div class="chopped box">
            <%= radio_button_tag(:user_card, index, class: "charges") %> 
<!--             <label class="charges"></label>
 -->            <label class="charges" style="margin-left:5px;"><%= card.last4 + " " + card.brand %></label>
        </div>
        <br />
        <br />
        <% end %>
        <div class ="chopped box">
            <%= radio_button_tag(:user_card, "new", false, :class => "new-card-button charges") %>
<!--             <label class="charges"></label>
 -->            <label class="charges" style="margin-left:5px;"> Add a new card </label>
        </div>

        <%= render 'credit_card_form' %>

      </div>

    <% else %>
      <%= render 'credit_card_form' %>
    <% end %>
  <% end %>
  <div class="error stripe-error" style="display:none;"> </div>
  <div class="error name-error" style="display:none;">Please enter your name</div>
  <div class="error phone-error" style="display:none;">Please enter your phone number or we won't be able to let you know when your order's ready!</div>
  <div class="error email-error" style="display:none;"> Please enter your e-mail address or we won't be able to send you your receipt!</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"> </script>

<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
</script>
