

<%= form_tag order_charges_path(@order) do %>
	<%= render 'shared/order_details' %>

	<%= telephone_field(:user, :phone, :class => "form-control",:id => "order-phone-number", :placeholder => "Phone #") %> 
	<br />
 

	<div class="text-center">
  <script src="https://checkout.stripe.com/checkout.js"  class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Shnack"
          data-label="Pay For Your Order"
          data-description="Pay For Your Order"
          data-amount="<%= @order.total %>"></script>
      </div>
<% end %>
