<h1> Order For <%= @vendor.name %> </h1>

<%= form_tag order_charges_path(@order) do %>

	Name: <%= "#{@user.first_name} #{@user.last_name}" %> <br />
	Email: <%= @user.email %> 

	<table class="order_details">
		<thead>
			<td> Item </td>
			<td> Qty </td>
			<td> Price </td>
			<td> Total </td>
		</thead>
		<% @order_details.each_pair do |id, qty| %>
		<tr>

			<td><%= @items[id].name %></td> 
			<td><%= qty %> </td>
			<td> <%= number_to_currency @items[id].price %></td>
			<td> <%= number_to_currency(@items[id].price * qty) %></td>
		</tr>
		<% end %>

		<tfoot>
			<td colspan="3"> Amount </td>
			<td> <%= integer_to_currency(@order.amount) %> </td>
		</tfoot>
	</table>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%=@vendor.name %>"
          data-email="<%= @user.email%>"
          data-amount="<%= @order.amount %>"></script>
<% end %>