

<%= form_tag order_charges_path(@order) do %>
	<table class="order_details">
		<thead>
			<td> Item </td>
			<td> Qty </td>
			<td> Price </td>
			<td> Total </td>
		</thead>
		<% @order_details.each_pair do |id, qty| %>
		<tr>

			<td><%= @items[id].name %></td> 
			<td><%= qty %> </td>
			<td> <%= number_to_currency @items[id].price %></td>
			<td> <%= number_to_currency(@items[id].price * qty) %></td>
		</tr>
		<% end %>

	</table>
  <article>
    <label class="amount">
      <span>Amount: <%= integer_to_currency(@order.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @order.amount %>"></script>
<% end %>
