<!DOCTYPE html>
<html>
<head>
  <title>Shnack</title>

 
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body onload="checkDevice();">
		<div class="container">
			<div class="row add_margin">

				<div id="nav" class="col-md-3 col-md-push-4 col-md-offset-3"> 
				  <a href="top"><%= link_to(image_tag("shnack_beta3.png", :class => "logo img-responsive"), root_path)   %></a>
				  <ul id="account-manage" class="nav nav-pills nav-stacked hidden-xs">
				  <% if user_signed_in? %>
					<li>
					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
					<li>   
					  <%= link_to "Change your password", edit_user_registration_path %>
					  <%= link_to "Manage Your Vendors", :controller => "shnack", :action => "manage_vendors" %>
					</li>
				  <% else %>
					<li>
					<%= link_to('Login', new_user_session_path, :class => 'btn')  %>  
					</li>
				  <% end %>
				  </ul>
				</div>


				<div class="col-md-4 col-md-pull-3">

					<div id="order-form" class="row">
						<%= yield %>
					</div>
				</div>

			</div>
		</div>


		<div id="level-2">
			<div class="row">
				<div class="col-4 step-style">
					<h1 class="step-style">Order</h1>
					<%= image_tag("step1.png", :class => "step-style")   %>
					<p class="step-style">From your seat, view the menus of vendors. Pay and place your order.</p>
				</div>
	

				<div class="col-4 step-style">
					<h1 class="step-style">Relax</h1>
					<%= image_tag("camera.png", :class => "step-style")   %>
					<p class="step-style">Sit back, relax, and enjoy the experience.</p>
				</div>

				<div class="col-4 step-style">
					<h1 class="step-style">PickUp</h1>
					<%= image_tag("step3.png", :class => "step-style")   %>
					<p class="step-style">When your order is ready, a notification will be sent. Pick up and enjoy.</p>
				</div>
			</div>
		</div>

		<div id="level-3">
			<div class="container my-container">
				<div id="info-tagline">Never miss a moment, never miss a meal</div>
		


				<div class="row">
					<ul class="info-links">
						<li id="about-links1" class="info-links col-4"><a onClick="forFans()">For Fans</a></li>
						<li id="about-links2" class="info-links col-4"><a onClick="forVendors()">For Vendors</a></li>
						<li class="info-links col-4"><a onClick="contactUs()">Contact Us</a></li>
					</ul>
				</div>


 			
				<div class="row">
					<div class="col-sm-8">
						<div id="info-text">Shnack is a mobile application designed for concessions at large and small scale events, that lets customers order and pay for a vendor's food via their phone. Shnack eliminates the time customers are spending standing in lines by providing a quick and elegant way to purchase food from your seat. Customers will order food from their phone and will be notified when their food is ready to be picked up. By eliminating the need to wait in line, we can increase customer satisfaction, increase vendor revenue, and ultimately help provide a superior experience to customers.
						</div>

						<div id="contact-us" class="row">
							<form name="htmlform" id="contact-us-form" method="post" action="#">
								<input type="text" name="email" id="email" class="col-md-6" placeholder="Email Address" autocomplete="on" />
								<input type="text" name="name" id="name"  class="col-md-6" placeholder="Your name">
								<div class="row">
									<textarea name="comments"  class="col-md-12" placeholder="What would you like to say" rows="4"></textarea>
								</div>
								<input type="submit" class="buttn" value="Submit">
							</form>
						</div>


					</div>
					<img id="phone" class="col-sm-4" src="images/phone_welcome.png" />

					

				</div>
			</div>
		</div>
		<!-- END LEVEL-3 -->

		<div id="return-to-top"><a href="#top">Return to top  |  Place an order</a></div>



		<div id="footer">
			<div class="row">

				<div class="col-sm-6">
	          		<div class="center"><%= image_tag("nvc.png", :class => "nvc-logo")   %></div>
	          	</div>

				<div class="col-sm-6 center">
					<!-- <div id="fb-root"></div>
		            <p style="font-size:1.3em;">Follow us on Facebook.</br>You might see us at a game.</p>
		            <span class="foot-style"><div class="fb-like" data-href="https://www.facebook.com/shnackapp" data-width="100%" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></span> -->
		            <div class="center">
			            <div id="fb-root"></div>
			            </br></br>
			            <p style="font-size:1.3em;">Follow us on Facebook.</br>You might see us at a game.</br></p>
			            <div class="fb-like" data-href="https://www.facebook.com/shnackapp" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		            </div>
	          	</div>
	         </div>
	    </div>

</body>

</html>
